@use "../theme" as *;
@use "system-tray";

window.Bar {
  background: $bg0;
  color: $fg0;

  padding: 4px;

  .workspaces {
    background: $bg1;
    border-radius: 20px;

    & .workspace {
      background: transparent;
      border: none;
      border-radius: 50%;
      min-height: 0;
      min-width: 0;
      padding: 4px;

      transition: all 0.2s ease-in-out;

      &.active,
      &:hover {
        background: $green;
      }
    }
  }
}
