@use "../theme" as *;

.notifications-manager {
  & .notifications-manager-title {
    font-weight: bold;
    font-size: 1.2em;
  }

  & button {
    border-radius: 50%;
  }

  & .notification {
    background: $bg0;
    border-radius: 8px;
    padding: 8px;

    & .notification-title {
      font-weight: bold;
    }

    & .notification-close {
      background: $bg1;
      border-radius: 50%;
      border: none;

      min-height: 0;
      min-width: 0;
      padding: 8px;

      transition: all 0.2s ease-in-out;

      &:hover {
        background: $bg2;
      }
    }

    & .notification-image {
      border-radius: 8px;
    }

    &.urgency-low {
      border: 2px solid $blue;
    }

    &.urgency-normal {
      border: 2px solid $green;
    }

    &.urgency-critical {
      border: 2px solid $red;
    }
  }
}
