$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$orange: #d65d0e;
$gray: #928374;

$light-red: #fb4934;
$light-green: #b8bb26;
$light-yellow: #fabd2f;
$light-blue: #83a598;
$light-purple: #d3869b;
$light-aqua: #8ec07c;
$light-orange: #fe8019;
$light-gray: #a89984;

$bg0: #1d2021;
$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$fg0: #fbf1c7;
$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

* {
  font-family: 'Hack Nerd Font', monospace;
}

window.Bar {
  background: rgba($bg0, 0.8);
  color: $fg1;
  font-weight: bold;

  &>box {
    padding: 0px 12px;
  }

  &>box>box>.icon {
    background: rgba($fg0, .05);
    border-radius: 50%;

    padding: 8px;
  }

  .time {
    background: rgba($fg0, .05);
    border-radius: 20px;

    padding: 10px 14px;
  }

  .hyprland-keyboard-layout {
    background: rgba($fg0, .05);
    border-radius: 20px;
    font-size: 14px;

    padding: 10px 14px;
  }

  .hyprland-workspace-list {
    background: rgba($fg0, .05);
    border-radius: 20px;

    padding: 10px 14px;

    &>box>.hyprland-workspace {
      background: $green;
      border-radius: 50%;

      padding: 4px;

      transition: all 0.2s ease-in-out;

      &.empty {
        background: rgba($green, .2);
      }

      &:hover {
        background: $green;

        padding: 6px;
      }

      &.active {
        background: $green;

        padding: 8px;
      }
    }
  }
}

window.AppLauncher {
  background: rgba($bg0, 0.8);
  color: $fg1;
  font-size: 18px;
  font-weight: bold;

  border: 2px solid $green;

  & .main {
    padding: 8px;

    & .header {
      & .icon {
        border: 2px solid $green;
        border-radius: 4px;

        padding: 4px;
      }

      & .search-input {
        background: transparent;
        border-radius: 4px;
        border: 2px solid $green;
        outline: none;
        padding: 4px 12px;

        color: $fg1;

        &::placeholder {
          color: $fg2;
        }
      }
    }

    & .app-list {
      & button {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;

        & .app {
          color: $fg1;
          font-weight: bold;

          border-radius: 4px;
          border: 2px solid $green;

          padding: 8px;

          transition: all 0.2s ease-in-out;

          &.selected,
          &:hover {
            background: $green;
            color: $bg0;
          }
        }
      }
    }
  }
}
