$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

* {
  font-family: 'Hack Nerd Font', monospace;
}

window.Bar {
  background: $base;
  color: $text;
  font-weight: bold;

  &>box {
    padding: 0px 12px;
  }
}

window.AppLauncher {
  background: $base;
  color: $text;
  font-size: 18px;
  font-weight: bold;

  border-radius: 16px;
  border: 3px solid $mauve;

  & .main {
    padding: 16px;

    & .header {
      & .icon {
        border: 2px solid $mauve;
        border-radius: 8px;

        padding: 4px;
      }

      & .search-input {
        background: $base;
        border-radius: 8px;
        border: 2px solid $mauve;
        outline: none;
        padding: 4px 12px;

        color: $text;

        &::placeholder {
          color: $subtext1;
        }
      }
    }

    & .app-list {
      & button {
        background: transparent;
        border: none;
        outline: none;
        padding: 0;

        & .app {
          background: $base;
          color: $text;
          font-weight: bold;

          border-radius: 8px;
          border: 2px solid $mauve;

          padding: 8px;

          transition: all 0.2s ease-in-out;

          &.selected,
          &:hover {
            background: $mauve;
            color: $base;
          }
        }
      }
    }
  }
}

.app-launcher-icon-button {
  border: 2px solid $mauve;
  border-radius: 8px;

  padding: 2px;

  &:hover {
    background: rgba($pink, .4);
  }

  &.active {
    background: $mauve;
  }
}

.hyprland-keyboard-layout {
  background: $surface0;
  border-radius: 8px;

  font-size: 20px;
}

.hyprland-workspace-list {
  border-radius: 16px;


  &>.hyprland-workspace {
    background: rgba($pink, .4);

    border-radius: 8px;

    padding: 8px;

    transition: all 0.2s ease-in-out;

    &:hover {
      background: $mauve;

      transform: scale(1.15);
    }

    &.active {
      background: $mauve;

      padding: 8px 12px;

      transform: scale(1.15);
    }
  }
}
