@use "../theme" as *;

.menu-toggle {
  &>button {
    background: $bg1;
    border: none;
    border-radius: 50%;

    min-height: 0;
    min-width: 0;
    padding: 8px;

    transition: all 0.2s ease-in-out;
  }

  &.active>button,
  &>button:hover {
    background: $green;
  }
}
