@use "../theme" as *;
@use "system-tray";

window.Bar {
  background: rgba($bg0, 0.8);
  color: $fg0;
  font-weight: bold;

  padding: 4px;

  .workspaces {
    background: rgba($fg0, 0.05);
    border-radius: 20px;
    padding: 8px;

    & .workspace {
      border-radius: 50%;
      min-height: 0;
      min-width: 0;
      padding: 4px;

      transition: all 0.2s ease-in-out;

      &:hover {
        background: $green;
        padding: 6px;
      }

      &.inactive {
        background: $green;
      }

      &.active {
        background: $green;
        padding: 8px;
      }
    }
  }
}
