@use "theme" as *;

box.icon {
  background: rgba($fg0, 0.1);

  padding: 4px;

  &.rounded {
    border-radius: 8px;
  }

  &.circle {
    border-radius: 50%;
  }

  &.none {
    background: transparent;
    padding: 0;
  }
}
