@use "theme" as *;
@use "app-launcher";
@use "bar";
@use "menu";
@use "notifications";
@use "icon";

popover {
  background: $bg0;
  border: 2px solid $green;
  border-radius: 12px;
  color: $fg0;
  padding: 8px;
  margin-top: 16px;
}
